*.DS_Store
venv
*.png
__pycache__
logs/*
src/wordbank/images/aoa_summary.csv
.env
*.pickle
*.json
*wandb
lightning_logs
*.pdf
!src/preprocess/data/positive_dataset.json
!src/preprocess/data/negative_dataset.json

src/signatures/results/*/*/
src/probabilities/results/*/
src/regressions/results/*
!src/regressions/results/.gitkeep

!paper/figures/*/*.pdf
!paper/figures/*/*/*.pdf
!paper/figures/specific_words/specific_words.png

scripts/euler/